body {
    padding:0;
    margin: 0;
    color: #5a5a5a;
}

ul li,ol li{
    padding: 0;
    list-style: none;
    margin:0;
}
/* 顶部导航 */
    // background-color: #fff;
    // font-family: 'Raleway',Helvetica,Arial,sans-serif;
    // font-size: 40px;
    // font-weight: 700;
    .navbar-dark{
        margin-top: 15px;
        .nav-link>a{
            font-family: 'Microsoft YaHei',微软雅黑, sans-serif;
            font-weight: 580;
            font-size:20px; 
            color: #1c1c1c;
        }
    }
    // .navbar-nav > li > a{
    //     color:#1c1c1c;
    //     display: block;
    //     font-size: 20px;
    //     font-weight: 500;
    //     padding: 10px;
    //     white-space: nowrap;
    // }


/* 轮播广告 */

.carousel {
    height: 500px;
    .item {
        height: 500px;
        background-color: #000;
        img {
            width: 100%;
        }
    }
}

.carousel-caption {
    z-index: 10;
    p {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 1.8;
    }
}


/* 特性 */

.feature-divider {
    margin: 40px 0;
}

.feature {
    padding: 30px 0;
}

.feature-heading {
    font-size: 50px;
    color: #2a6496;
    
    .text-muted {
        font-size: 28px;
    }
}



/* 响应式布局 */

@media (max-width: 768px) {
    .summary {
        padding-right: 3px;
        padding-left: 3px;
    }
    .carousel {
        height: 300px;
        margin-bottom: 30px;
    }
    .carousel .item {
        height: 300px;
    }
    .carousel img {
        min-height: 300px;
    }
    .carousel-caption p {
        font-size: 16px;
        line-height: 1.4;
    }
    .feature-heading {
        font-size: 34px;
    }
    .feature-heading .text-muted {
        font-size: 22px;
    }
}

@media (min-width: 992px) {
    .feature-heading {
        margin-top: 120px;
    }
}

.editor{
        width: 100%;
        }

.summary{
    /* 简介 */
    padding-right: 15px;
    padding-left: 15px;
    height: 220px;
    font-family: 'Microsoft YaHei';
    font-size: 15px;
    line-height: 1.5;
    .introduce,.business,.news,.product{
        a{
            text-decoration: none;
            color: #626262;
            font-weight: bold;
        }
    }
    .introduce{
        .editor{
            text-indent:2em;
            text-overflow: ellipsis;
        }
    }
    col-md-4 {
        margin-bottom: 20px;
        text-align: center;
    }
    b{
        color: #d2d0d0;
    }
}

.news{
    li{
        display: inline-block;
        width:100%;
        padding: 7px 0;
        border: 1px dashed #d2d0d0;
        border-style: none none solid none;
        margin-bottom: 50px;
       .news-time{
            float: right;
             color:rgb(122,122,122);
    }
        .news-title{
            float:left;
            color:rgb(102,102,102);
        }  
    }      
}

.business{
     position: relative;
    strong{
        position: absolute;
        top:20px;
        left:20px;
    }
    li{
        display: inline-block;
        width: 100%;
        padding: 3px 0;
        white-space: nowrap;
    }
    .card-name,.card-detail{
        position: absolute;
        //overflow: 
    }
    .card-name{
        margin-left: -20px;
        //width: 50px;
    }
    .card-detail{
        width: 200px;
        left : 80px;
    }
}

.pull-right{
    float: right;
    color:red;
}

.div-title{
    padding-bottom:20px;
    padding-left: 40px;
    b{
        display: inline-block;
        padding: 3px 0 0 15px;
    }
}
    .line{
        position: relative;
        margin: 0 auto;
        max-width: 960px;
        min-width: 480px;
        padding:90px 0;
        span{
            font-family: 'Microsoft YaHei', 微软雅黑,sans-serif;
            font-weight: 300px;
            font-size: 18px;
            color:rgb(102,102,102);
        }
        a{
            font-family: 'Microsoft YaHei', 微软雅黑,sans-serif;
            font-weight: 00px;
            font-size: 18px;
        }
        .line-text{
            margin: 20px 0 0 100px;
            width: 50%;
        }
        .line-joinus{
            h4{
                font-family: 'Microsoft YaHei', 微软雅黑,sans-serif;
                font-weight: 600px;
                font-size: 18px;
                color:rgb(102,102,102);
                line-height: 40px;
            }
            p{
                margin-top: 0;
                line-height: 30px;
                font-size: 18px;
                font-family: 'Microsoft YaHei', 微软雅黑,sans-serif;
                font-weight: 300;

            }
        }

        .left{
            float: left;
        }
        .right{
            float: right;
        }
        img{
            width: 300px;
            height: 360px;
        }
}

.footer{

    width: 100%;
    font-family: "Microsoft YaHei", sans-serif;
    padding: 90px 0 0;
    background: rgb(247,247,247);
    .footer-wrapper{
        position: relative;
        margin: 0 auto;
        max-width: 960px;
        min-width: 320px;
        .link{
            padding:0 0 60px;
            width: 100%;
            display: table;
            ul.about,ul.support,ul.partners{
                display: table-cell;
                width: 33.33%;
                li{
                    span{
                        font-size: 24px;
                        color:rgb(161,161,161);
                        margin: 0 0 10px 0;
                    }
                    a{
                        width:80%;
                        line-height: 40px;
                        font-size: 16px;
                        color: rgb(68,68,68);
                        text-decoration: none;
                        transition: all 0.3 ease-in;
                    }
                }
            }
        }
        .copyright{
            position: relative;
            padding: 25px 0;
            width:100%;
            font-size: 16px;
            text-align: center;
        }
    }
}
.about{
    .about-title{
        font-family: 'Microsoft YaHei', 微软雅黑,sans-serif;
        font-weight: 600px;
        color:deeppink;
        font-size: 50px;
        font-style: bold;
        float: left;
    }
    p{
        font-size: 28px;
        color: rgb(68,68,68);
    }
}

