
body {
    padding:20px 0 0 0;
    margin-top: 45px;
    color: #5a5a5a;
    background-color: #f3f5f9;
}

ul li,ol li{
    padding: 0;
    list-style: none;
    margin:0;
}
/* 顶部导航 */
    // background-color: #fff;
    // font-family: 'Raleway',Helvetica,Arial,sans-serif;
    // font-size: 40px;
    // font-weight: 700;
    .navbar-dark{
        padding-top: 15px;
        box-shadow: 1px 1px 15px #888888;
        background-color: #fff;
        .nav-link{
            padding:0
        }
        .nav-link>a{
            font-family: 'Microsoft YaHei',微软雅黑, sans-serif;
            font-weight: 580;
            font-size:20px; 
            color: #1c1c1c;
        }
        .nav-link>a:hover{
                background-color: #fff;
                // border: 1px dashed green;
                // border-style: none none solid none;
        }
        .nav-link>a:visited{
            background-color: #fff;
        }
        .nav-link{
            position: relative;
        }

        .show1{
             background-color: #fff;
             opacity: 1;
        }

       .hidden1{
            opacity: 0;
        }
        .dropdown-menu1{
            padding-left: 15px;
            position: absolute;
            width: 190px;
            left:-40px;
            transition: all 1s; 
            background-color: #fff;
            border-radius:0 0 2px 2px;
            box-shadow: 3px 3px 10px -3px #888888;
            li{
                margin: 0;
            }
        }
        .dropdown-menu1>li>a{
            font-size: 17px;
            line-height: 36px;
            padding:0;
            font-weight: normal;
            color: #5a5a5a;
            text-decoration: none;
        }
        .dropdown-menu1>li>a:hover{
            color:red
        }
    }
    // .navbar-nav > li > a{
    //     color:#1c1c1c;
    //     display: block;
    //     font-size: 20px;
    //     font-weight: 500;
    //     padding: 10px;
    //     white-space: nowrap;
    // }


/* 轮播广告 */

.carousel {
    height: 550px;
    .item {
        height: 550px;
        background-color: #000;
        img {
            width: 100%;
        }
    }
}

.carousel-caption {
    z-index: 10;
    p {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 1.8;
    }
}


/* 特性 */

.feature-divider {
    margin: 40px 0;
}

.feature {
    padding: 30px 0;
}

.feature-heading {
    font-size: 50px;
    color: #2a6496;
    
    .text-muted {
        font-size: 28px;
    }
}



/* 响应式布局 */

@media (max-width: 768px) {
    .summary {
        padding-right: 3px;
        padding-left: 3px;
    }
    .carousel {
        height: 300px;
        margin-bottom: 30px;
    }
    .carousel .item {
        height: 300px;
    }
    .carousel img {
        min-height: 300px;
    }
    .carousel-caption p {
        font-size: 16px;
        line-height: 1.4;
    }
    .feature-heading {
        font-size: 34px;
    }
    .feature-heading .text-muted {
        font-size: 22px;
    }
}

@media (min-width: 992px) {
    .feature-heading {
        margin-top: 120px;
    }
}

.editor{
        width: 100%;
        }

.summary{
    /* 简介 */
    padding-right: 15px;
    padding-left: 15px;
    height: 220px;
    font-family: 'Microsoft YaHei';
    font-size: 15px;
    line-height: 1.5;
    .introduce,.business,.news,.product{
        a{
            text-decoration: none;
            color: #626262;
            font-weight: bold;
            width:100px;
        }
    }
    .introduce{
        .editor{
            text-indent:2em;
            text-overflow: ellipsis;
        }
    }
    col-md-4 {
        margin-bottom: 20px;
        text-align: center;
    }
    b{
        color: #d2d0d0;
    }
}

.news{
    li{
        display: inline-block;
        width:80%;
        padding: 7px 0;
        border: 1px dashed #d2d0d0;
        border-style: none none solid none;
        margin-bottom: 30px;
       .news-time{
            float: right;
             color:rgb(122,122,122);
    }
        .news-title{
            float:left;
            color:rgb(102,102,102);
        }  
    }      
}

.business{
     position: relative;
    strong{
        position: absolute;
        top:20px;
        left:20px;
    }
    li{
        display: inline-block;
        width: 100%;
        padding: 3px 0;
        white-space: nowrap;
    }
    .card-name,.card-detail{
        position: absolute;
        //overflow: 
    }
    .card-name{
        margin-left: -20px;
        //width: 50px;
    }
    .card-detail{
        width: 200px;
        left : 80px;
    }
}

.pull-right{
    float: right;
    color:red;
}

.div-title{
    padding-bottom:20px;
    padding-left: 40px;
    b{
        display: inline-block;
        padding: 3px 0 0 15px;
    }
}
    .line{
        position: relative;
        margin: 0 auto;
        max-width: 960px;
        min-width: 480px;
        padding:90px 0;
        h2{
            text-align: center;
        }
        span{
            font-family: 'Microsoft YaHei', 微软雅黑,sans-serif;
            font-weight: 300px;
            font-size: 18px;
            color:rgb(102,102,102);
        }
        a{
            font-family: 'Microsoft YaHei', 微软雅黑,sans-serif;
            font-weight: 00px;
            font-size: 18px;
        }
        .line-text{
            margin: 20px 0 0 100px;
            width: 50%;
            p{
                text-indent: 2em;
                font-size:15px;
            }
        }
        .line-joinus{
            h4{
                font-family: 'Microsoft YaHei', 微软雅黑,sans-serif;
                font-weight: 600px;
                font-size: 18px;
                color:rgb(102,102,102);
                line-height: 40px;
            }
            p{
                margin-top: 0;
                line-height: 30px;
                font-size: 18px;
                font-family: 'Microsoft YaHei', 微软雅黑,sans-serif;
                font-weight: 300;

            }
        }

        .left{
            float: left;
        }
        .right{
            float: right;
        }
        img{
            width: 300px;
            height: 360px;
        }
}

.footer{

    width: 100%;
    font-family: "Microsoft YaHei", sans-serif;
    padding: 90px 0 0;
    background: rgb(247,247,247);
    .footer-wrapper{
        position: relative;
        margin: 0 auto;
        max-width: 960px;
        min-width: 320px;
        .link{
            padding:0 0 60px;
            width: 100%;
            display: table;
            ul.about,ul.support,ul.partners{
                display: table-cell;
                width: 33.33%;
                li{
                    span{
                        font-size: 24px;
                        color:rgb(161,161,161);
                        margin: 0 0 10px 0;
                    }
                    a{
                        width:80%;
                        line-height: 40px;
                        font-size: 16px;
                        color: rgb(68,68,68);
                        text-decoration: none;
                        transition: all 0.3 ease-in;
                    }
                }
            }
        }
        .copyright{
            position: relative;
            padding: 25px 0;
            width:100%;
            font-size: 16px;
            text-align: center;
        }
    }
}
.about{
    padding-top:30px;
    .about-title{
        display: block;
        font-size: 25px;
        font-weight: bold;
        padding-bottom:20px;
        text-align: center;
    }
    p{  
        text-indent: 2em;
        font-size: 18px;
        color: rgb(68,68,68);
    }
}

.img-line{
        height: 400px;
        width:100%;
}

.normal-area{
    //border: 1px solid #888888;
    min-height: 200px;
    //border-radius: 5px;
    // -webkit-box-shadow:inset 0 0 10px #0CC;  
    // -moz-box-shadow:inset 0 0 10px #0CC;  
    // box-shadow:inset 0 0 10px #0CC;
    padding: 20px;
    margin:10px 0 40px 0;
    text-indent:2em;  
    text-align: left;
    font-size:20px;
    color: #000;
    position: relative;
    .news-time{
        font-style: italic;
        color: #888888;
        font-size:15px;
        float:right;
        position: absolute;
        right: -10px;
        bottom: -1em;
    }
}

.page-top{
    padding-top: 40px;
}

.admin-page{
    a{
        text-decoration: none;
        color:#fff;
    }
}

.news-add{
    width: 100px;
    display: block;
    margin: 0 auto;
    border-radius:40px;
    font-weight: bold;
}

.modal-body{
    textarea{
        height: 300px
    }
}
.about-article{
    text-indent: 2em;
}

.about-contact{
    margin-left: auto;
    margin-right: auto;
    width:400px;
    font-size:16px;
    padding: 20px 0;
    .contact{
        padding:10px;
    }
    span{
        float:left;
    }
}

.descline{
    padding: 30px 0 20px 0;
    text-align: center;
    img{
        width:80%;
        text-align: center;
    }
    span{
        font-size:15px;
        text-align: center;
    }
}

.normal-title{
    display: block;
    font-weight: bold;
    font-size:25px;
    margin: 0 auto;
    width:200px;
    padding-top:50px; 
}

.empty-modal{
    p{
        text-indent: 0 !important;
        line-height: 1.5em;
        margin: 0 !important;
    }
}


